#buttons button {
    margin: 5px;
    width: 80px;
    height: 80px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
}


#buttons .label {
    display: block;
    font-size: 10px;
}

#buttons button:disabled img {
    opacity: 0.3;
}

.log {
    color: black;
    text-align: left;
    font-size: 14px;
}

.logentry {
    list-style-type: none;
}

.timestamp {
    color: gray;
}

.loginput {
    font-size: 18px;
    border-style: hidden;
    outline: none;
}

#copylog {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

#instructions {
    color: black;
    padding: 10px;
}

#instructions div {
    margin: 10px;
}

#explanation {
    text-align: left;
    line-height: 120%;
}
